name: CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup MSVC
        uses: ilammy/msvc-dev-cmd@v1

      - name: Build interpreter and extensions
        run: .\build.ps1

      - name: Run tests
        working-directory: .\tests
        run: .\prefix.exe .\tests\test2.pre
